MONGO_URL = mongodb+srv://krupalpatel3571:Krupal#1909@cluster0.xpeoqci.mongodb.net/chat-mern-stack
PORT = 5000
CLOUDINARY_CLOUD_NAME = dq7zxbnep
CLOUDINARY_API_KEY = 685155755118162
CLOUDINARY_API_SECRET = RSSo7T6NRjUDO2ZIHf62KMMehIg
JWT_SECRET_KEY = thisismernstackchatapplication
JWT_EXPIRE = 30d
NODE_ENV = development
COOKIE_PARSER = 7
FRONTEND_URL = http://localhost:5173